<!doctype html>
<html lang="es-CU">
  <head>
    <title>A tu Alcance — Tu tienda de confianza</title>

    <meta charset="utf-8" />
    <meta name="description" content="Shalom — alimentos, bebidas, aseo, limpieza, hogar y más. Tu tienda de productos de confianza." />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta
      name="viewport"
      content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>"
    />

    <link rel="icon" type="image/png" sizes="128x128" href="/icons/favicon-128x128.png" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <meta property="og:site_name" content="A tu alcance" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="A tu Alcance — Tu tienda de confianza" />
    <meta property="og:description" content="A tu Alcance — variedades, productos, electrodomesticos, del hogar y más. Tu tienda de productos de confianza." />
    <meta property="og:url" content="https://atualcance-tunas.vercel.app" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image" content="https://atualcance-tunas.vercel.app/images/og-banner.png" />
    <meta property="og:image:alt" content="A tu Alcance — Tu tienda de confianza" />
    <meta property="og:locale" content="es_CU" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="A tu Alcance — Tu tienda de confianza" />
    <meta name="twitter:description" content="A tu Alcance — alimentos, bebidas, aseo, limpieza, hogar y más." />
    <meta name="twitter:image" content="https://atualcance-tunas.vercel.app/images/og-banner.png" />

    <meta name="keywords" content="A tu Alcance, tienda, productos, alimentos, bebidas, aseo, limpieza, online,hogar, Cuba" />
    <script defer src="/_vercel/insights/script.js"></script>

  </head>

  <body>
    <!-- quasar:entry-point -->
  </body>
</html>
